{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pots</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        {% if request.user.is_anonymous %}
          <h2> <a href=""> Faça o Login aqui </a></h2>
        {% else %}
        <h2> Bem vindo {{ request.user.username }}
        <br/>
          <h3><a href="/logout/">Logout</a></h3>
        {% endif %}
        <h1> Posts </h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Titulo</th>
                <th scope="col">Data</th>
                
              </tr>
            </thead>
            <tbody>
            {% for p in post %}

              <tr>
                <th scope="row">{{ p.id}}</th>
                <td><a href="/post/{{p.id}}">{{p.titulo}}</a></td>
                <td>{{p.data}}</td>
              </tr>

            {% endfor %} 
            </tbody>
          </table>
    </div>
{% bootstrap_javascript %}
</body>
</html>