{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pots</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <h1> {{post.titulo}} </h1>
        <h2> {{post.data}} </h2><br />
        {% if post.imagem %}
            <img src="/media/{{post.imagem}}" />
        {% endif %}
        <br />
        <p>{{post.texto}}</p>
    </div>
{% bootstrap_javascript %}
</body>
</html>